#particles-js{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  position: fixed;
}

.text{
    background-color:  rgba(255, 255, 255, 0);
    color: white;
    padding: 4px;
    margin: 10px;
    padding-bottom: 30px;
}

.group_photo {
    align-items: center;
    border-radius: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: auto;
    border-radius: 50px;
    box-shadow: 0 5px #8D8382;
}
/*Group photo clicking effect*/
.group_photo:hover {background-color: #3e8e41}

.group_photo:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.bloglink{
  color: wheat;
}

.bloglink:hover{
  color: rgb(255, 200, 97);
}

.col2{
  padding-left: 30px;
  font-family: arial, helvetica, sans-serif;
   -webkit-backdrop-filter: blur(1px);
   backdrop-filter: blur(1px);
  background-color: rgba(255, 255, 255, .1);
  width:310px;
  position: relative;
  margin-left: 150px;
}
.col-md-7{
  -webkit-backdrop-filter: blur(2px);
   backdrop-filter: blur(2px);
   background-color: rgba(255, 255, 255, .05);
  position: relative;
  margin-left: 250px;
}

p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 110%;
}

.fa{
  font-size: 200%;
  color: white;
}

.fa:hover{
  color: rgb(139, 139, 139);
}

/*People cards start*/
   .container1 {
  position: relative;
  z-index: 200;
  height: 300px;
  width: 1200px;
  top: 40px;
  left: calc(50% - 550px);
  display: flex;
}

.card {
  display: flex;
  height: 180px;
  width: 160px;
  background-color: #17141d;
  border-radius: 10px;
  box-shadow: -1rem 0 3rem #000;
  transition: 0.4s ease-out;
  position: relative;
  left: 0px;
}

.card:not(:first-child) {
    margin-left: -50px;
}

.card:hover, .card:checked {
  transform: translateY(-20px);
  transition: 0.4s ease-out;
}

.card:hover ~ .card {
  position: relative;
  left: 50px;
  transition: 0.4s ease-out;
}

.title {
  color: white;
  font-weight: 300;
  position: absolute;
  left: 10px;
  top: 0px;
}

.seds {
  color: white;
  font-weight: 300;
  position: absolute;
  left: 10px;
  top: 65px;
}

.position {
  color: white;
  font-weight: 300;
  position: absolute;
  left: 10px;
  top: 100px;
}

.bar {
  position: absolute;
  top: 100px;
  left: 10px;
  height: 5px;
  width: 140px;
}

.emptybar {
  background-color: #2e3033;
  width: 100%;
  height: 100%;
}

.filledbar {
  position: absolute;
  top: 0px;
  width: 90px;
  height: 100%;
  background: rgb(0,154,217);
  background: linear-gradient(90deg, rgba(0,154,217,1) 0%, rgba(217,147,0,1) 65%, rgba(255,186,0,1) 100%);
  transition: 0.6s ease-out;
}

.card:hover .filledbar {
  width: 140px;
  transition: 0.4s ease-out;
}

.circle {
  position: absolute;
  top: 140px;
  left: calc(50% - 60px);
}

.stroke {
  stroke: white;
  stroke-dasharray: 360;
  stroke-dashoffset: 360;
  transition: 0.6s ease-out;
}

svg {
  fill: #17141d;
  stroke-width: 2px;
}

.card:hover .stroke {
  stroke-dashoffset: 100;
  transition: 0.6s ease-out;
}
/*People cards end */

#universe {
  z-index: 1;
  position: absolute;
  width: auto;
  height: auto;
  overflow-x: hidden;
  overflow-y: hidden;
  background-position: center 40%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-image: url(img/Back.jpg); }
body {overflow: auto;
    background-color: #08090A;
    background-attachment: fixed;
    background-image: url(img/Bodyback.jpg); }
