#particles-js{
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
	background-size: cover;
	background-repeat:no-repeat;
}

/* Section Services */
body {
  background-image: url(img/Bodyback.jpg);
  height: 100vh;
  width: 100vw;
}
.page-header{
margin-bottom: 10rem;
}

.services {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: justify;
          justify-content: space-between;
}
.services > * {
  -webkit-box-flex: 1;
          flex-grow: 1;
}
h4{
	color: red;
}
.circle--rotate {
  border-radius: 50%;
  border: 1px #000000 solid;
  width: 43%;
  height: 43%;
  margin: 0 auto 0;
  position: relative;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  z-index: 0;
  padding: 0;
}
.circle--rotate > li {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
  z-index: 10;
  visibility: hidden;
}
.circle--rotate > li .icon {
  visibility: visible;
  cursor: pointer;
  text-align: center;
  overflow: hidden;
  font-size: 20px;
  color: #ffffff;
  border-radius: 50%;
  background-color: #000000;
  height: 10%;
  width: 10%;
  margin: -5% auto;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  box-shadow: -10px 10px 25px rgba(0, 0, 0, 0.2);
}
.circle--rotate > li i {
  color: #ffffff;
  font-size: 24px;
  margin: auto;
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: table;
}
.circle--rotate > li i::before {
  display: table-cell;
  vertical-align: middle;
}
.circle--rotate > li img {
  margin: auto;
}

.circle--slider {
  position: relative;
}
.circle--slider .rotate--circle {
  margin: 0 auto;
}
.circle--slider .circle--rotate > li div {
  position: relative;
  overflow: visible;
  background-color: #1F2845;
}
.circle--slider .circle--rotate > li div span {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: all 2s;
  transition: all 2s;
  opacity: 0;
}
.circle--slider .circle--rotate > li.active div {
  font-size: 20px;
  background-color: #654BE4;
  -webkit-transition: all 1s;
  transition: all 1s;
}
.circle--slider .circle--rotate > li.active div span {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  z-index: -1;
  opacity: 1;
}
.circle--slider .circle--rotate > li.active div span:before {
  position: absolute;
  height: 1px;
  top: -50%;
  right: 140%;
  bottom: 0;
  margin: auto;
  content: "";
  width: 30%;
  height: 30%;
  -webkit-filter: blur(3px);
          filter: blur(3px);
  opacity: .7;
  border: 6px solid #F48E2A;
  z-index: -1;
}
.circle--slider .circle--rotate > li.active div span:after {
  position: absolute;
  height: 1px;
  top: 100%;
  left: 130%;
  bottom: 0;
  margin: auto;
  content: "";
  width: 40%;
  height: 40%;
  border-radius: 50%;
  opacity: .7;
  border: 8px solid #FE9290;
  z-index: 5;
}
.circle--slider .count2 li:nth-child(2) {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.circle--slider .count3 li:nth-child(2) {
  -webkit-transform: rotate(120deg);
          transform: rotate(120deg);
}
.circle--slider .count3 li:nth-child(3) {
  -webkit-transform: rotate(240deg);
          transform: rotate(240deg);
}
.circle--slider .count4 li:nth-child(2) {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.circle--slider .count4 li:nth-child(3) {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.circle--slider .count4 li:nth-child(4) {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}
.circle--slider .count5 li:nth-child(2) {
  -webkit-transform: rotate(72deg);
          transform: rotate(72deg);
}
.circle--slider .count5 li:nth-child(3) {
  -webkit-transform: rotate(144deg);
          transform: rotate(144deg);
}
.circle--slider .count5 li:nth-child(4) {
  -webkit-transform: rotate(216deg);
          transform: rotate(216deg);
}
.circle--slider .count5 li:nth-child(5) {
  -webkit-transform: rotate(-72deg);
          transform: rotate(-72deg);
}
.circle--slider .count6 li:nth-child(2) {
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg);
}
.circle--slider .count6 li:nth-child(3) {
  -webkit-transform: rotate(120deg);
          transform: rotate(120deg);
}
.circle--slider .count6 li:nth-child(4) {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.circle--slider .count6 li:nth-child(5) {
  -webkit-transform: rotate(240deg);
          transform: rotate(240deg);
}
.circle--slider .count6 li:nth-child(6) {
  -webkit-transform: rotate(-60deg);
          transform: rotate(-60deg);
}
.circle--slider .count7 li:nth-child(2) {
  -webkit-transform: rotate(51.5deg);
          transform: rotate(51.5deg);
}
.circle--slider .count7 li:nth-child(3) {
  -webkit-transform: rotate(103deg);
          transform: rotate(103deg);
}
.circle--slider .count7 li:nth-child(4) {
  -webkit-transform: rotate(154.5deg);
          transform: rotate(154.5deg);
}
.circle--slider .count7 li:nth-child(5) {
  -webkit-transform: rotate(206deg);
          transform: rotate(206deg);
}
.circle--slider .count7 li:nth-child(6) {
  -webkit-transform: rotate(-103deg);
          transform: rotate(-103deg);
}
.circle--slider .count7 li:nth-child(7) {
  -webkit-transform: rotate(-51.5deg);
          transform: rotate(-51.5deg);
}
.circle--slider .count8 li:nth-child(2) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.circle--slider .count8 li:nth-child(3) {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.circle--slider .count8 li:nth-child(4) {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}
.circle--slider .count8 li:nth-child(5) {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.circle--slider .count8 li:nth-child(6) {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}
.circle--slider .count8 li:nth-child(7) {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.circle--slider .count8 li:nth-child(8) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.circle--slider .count9 li:nth-child(2) {
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}
.circle--slider .count9 li:nth-child(3) {
  -webkit-transform: rotate(80deg);
          transform: rotate(80deg);
}
.circle--slider .count9 li:nth-child(4) {
  -webkit-transform: rotate(120deg);
          transform: rotate(120deg);
}
.circle--slider .count9 li:nth-child(5) {
  -webkit-transform: rotate(160deg);
          transform: rotate(160deg);
}
.circle--slider .count9 li:nth-child(6) {
  -webkit-transform: rotate(-160deg);
          transform: rotate(-160deg);
}
.circle--slider .count9 li:nth-child(7) {
  -webkit-transform: rotate(-120deg);
          transform: rotate(-120deg);
}
.circle--slider .count9 li:nth-child(8) {
  -webkit-transform: rotate(-80deg);
          transform: rotate(-80deg);
}
.circle--slider .count9 li:nth-child(9) {
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
}
.circle--slider .count10 li:nth-child(2) {
  -webkit-transform: rotate(36deg);
          transform: rotate(36deg);
}
.circle--slider .count10 li:nth-child(3) {
  -webkit-transform: rotate(72deg);
          transform: rotate(72deg);
}
.circle--slider .count10 li:nth-child(4) {
  -webkit-transform: rotate(108deg);
          transform: rotate(108deg);
}
.circle--slider .count10 li:nth-child(5) {
  -webkit-transform: rotate(144deg);
          transform: rotate(144deg);
}
.circle--slider .count10 li:nth-child(6) {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}
.circle--slider .count10 li:nth-child(7) {
  -webkit-transform: rotate(-144deg);
          transform: rotate(-144deg);
}
.circle--slider .count10 li:nth-child(8) {
  -webkit-transform: rotate(-108deg);
          transform: rotate(-108deg);
}
.circle--slider .count10 li:nth-child(9) {
  -webkit-transform: rotate(-72deg);
          transform: rotate(-72deg);
}
.circle--slider .count10 li:nth-child(10) {
  -webkit-transform: rotate(-36deg);
          transform: rotate(-36deg);
}
.circle--slider .animate-wrapper {
  width: 25%;
  height: 25%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border-radius: 50%;
}
.circle--slider .animate-title {
  color: #fff;
	height: 5rem;
}
.circle--slider .animate-img {
  width: 25%;
  height: 25%;
  border-radius: 50%;
  overflow: hidden;
}
.circle--slider .animate-img .animate-img__in {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 50%;
  background-repeat: no-repeat;
  z-index: 3;
  -webkit-transform: rotate3d(0, 0, 0, 0deg) scale(0.85);
          transform: rotate3d(0, 0, 0, 0deg) scale(0.85);
  -webkit-transition: .55s ease-in-out;
  transition: .55s ease-in-out;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-size: cover;
  box-shadow: -20px 20px 50px rgba(0, 0, 0, 0.3);
}
.circle--slider .animate-more {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .5s .4s;
  transition: all .5s .4s;
  min-width: 131px;
  overflow: hidden;
  text-align: center;
  z-index: 30;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  padding: 15px;
  height: 25rem;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}
.circle--slider .animate.active .animate-more {
  opacity: 1;
  visibility: visible;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.circle--slider .animate.active .animate-img .animate-img__in {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.circle--slider .prev,
.circle--slider .next {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  display: block;
  height: 62px;
  width: 87px;
  text-align: center;
  cursor: pointer;
}
.circle--slider .prev span,
.circle--slider .next span {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  -webkit-text-orientation: upright;
          text-orientation: upright;
  font-weight: 700;
  color: orange;
}
.circle--slider .prev {
  left: 250px;
}
.circle--slider .next {
  right: 250px;
}


/*PEN STYLES*/
* {
  box-sizing: border-box;
}


.blog-card {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  margin: 1rem auto;
  box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.1);
  margin-bottom: 1.6%;
  background: #fff;
  line-height: 1.4;
  font-family: sans-serif;
  border-radius: 5px;
  overflow: hidden;
  z-index: 0;
}
.blog-card a {
  color: inherit;
}

.blog-card .meta {
  position: relative;
  z-index: 0;
  height: 200px;
}
.blog-card .photo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}
.blog-card .description {
  padding: 1rem;
  background: #fff;
  position: relative;
  z-index: 1;
}
.blog-card .description h1,
.blog-card .description h2 {
  font-family: Poppins, sans-serif;
}
.blog-card .description h1 {
  line-height: 1;
  margin: 0;
  font-size: 1.7rem;
}
.blog-card .description h2 {
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #fff;
  margin-top: 5px;
}

.blog-card p {
  position: relative;
  margin: 1rem 0 0;
}
.blog-card p:first-of-type {
  margin-top: 1.25rem;
}
.blog-card p:first-of-type:before {
  content: "";
  position: absolute;
  height: 5px;
  background: #5ad67d;
  width: 35px;
  top: -0.75rem;
  border-radius: 3px;
}

@media (min-width: 640px) {
  .blog-card {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-direction: row;
    max-width: 700px;
  }
  .blog-card .meta {
    flex-basis: 40%;
    height: auto;
  }
  .blog-card .description {
    flex-basis: 60%;
  }
  .blog-card .description:before {
    -webkit-transform: skewX(-3deg);
            transform: skewX(-3deg);
    content: "";
    background: #fff;
    width: 30px;
    position: absolute;
    left: -10px;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
  .blog-card.alt {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
            flex-direction: row-reverse;
  }
  .blog-card.alt .description:before {
    left: inherit;
    right: -10px;
    -webkit-transform: skew(3deg);
            transform: skew(3deg);
  }

}
