#particles-js{
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.1);
      position: fixed;
    }
 @import url(https://fonts.googleapis.com/css?family=Roboto);
 body {
   background-color: #353B3F;
   font-family: "Roboto", sans-serif;
 }

 /* The card */
 .card {
   position: relative;
   height: 450px;
   width: 900px;
   margin: 200px auto;
   background-image:url(img/gal1.jpg);
   -webkit-box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
   -moz-box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
   box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
 }

 /* Image on the left side */
 .thumbnail {
   float: left;
   position: relative;
   left: 30px;
   top: -50px;
   height: 450px;
   width: 530px;
   -webkit-box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.75);
   -moz-box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.75);
   box-shadow: 10px 10px 60px 0px rgba(0, 0, 0, 0.75);
   overflow: hidden;
 }

 /*object-fit: cover; */
 /*object-position: center; */
 img.left {
   position: absolute;
   left: 50%;
   top: 50%;
   height: 100%;
   width: 100%;
   -webkit-transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
 }

 /* Right side of the card */
 .right {
   margin-left: 590px;
   margin-right: 20px;
 }

 h1 {
   padding-top: 15px;
   font-size: 1.3rem;
   color: #fff;
   text-align: center;
   height: 25px;
 }

 .author {
   background-color: #9ECAFF;
   height: 30px;
   width: auto;
   border-radius: 20px;
   margin-top: 25px;
 }

 h2 {
   padding-top: 8px;
   margin-left: 6px;
   text-align: center;
   font-size: 0.8rem;
 }

 .separator {
   margin-top: 10px;
   border: 1px solid #C3C3C3;
 }

 p {
   text-align: justify;
   padding-top: 10px;
   font-size: 0.95rem;
   line-height: 150%;
   color: #fff;
 }

 /* DATE of release */
 h5 {
   position: absolute;
   left: 30px;
   bottom: -120px;
   font-size: 6rem;
   color: #C3C3C3;
 }

 h6 {
   position: absolute;
   left: 30px;
   bottom: -65px;
   font-size: 2rem;
   color: #C3C3C3;
 }

 /* Those futur buttons */
 ul {
   margin-left: 250px;
 }

 li {
   display: inline;
   list-style: none;
   padding-right: 40px;
   color: #7B7B7B;
 }



body {
font-size: 10px;
font-family: 'Open Sans', sans-serif;
font-weight: 300;
background-color: #08090A; }
body {
background-image: url(img/Bodyback.jpg); }
